body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
h1,h2,h3,h4, body{
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 160px;
    height: 87px;
}

.intro {
    width: 100%;
   
    
}

.nav {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;

}

.nav__text {
    display: inline-block;
    vertical-align: top;
    margin: 0 30px;
    color: #000;
    text-decoration: none;

    transition: color .2s linear;
}
/*ЧЕТ НЕ ПАШЕТ*/
.nav__text: after{
    color: #D1A954;
    border: 1px solid rgba(209, 169, 84, 0.9);
box-sizing: border-box;
    
}

.nav__text:hover {
    color: #D1A954;
}
.container2{
    width: 100%;
    max-width: 1500px;
   
    height: 100vh;
    
 
}
.slider{
     margin: 30px auto;
    display: flex;
    
   justify-content: space-between;
}
.slider__itom{
    width: 430px;
    height: 10px;
   
     position: relative;
 
}
.slider__rect{
    position: absolute;
    background: #D1A954;
    opacity: 90%;
    z-index: 1;
    text-align: center;
    width: 430px;
    height: 166px;
    top: 317px;
  
}
.slider__border{
    width: 410px;
    height: 146px;
    border: 1px solid #fff;
    margin: 10px 10px;
     
  
}
.slider__text{
    
    color: #fff;
    line-height: 135%;
    margin-bottom: 20px;
}
.slider__header{
   
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
    margin: 20px auto;
   
}
/*SECTION ABOUT*/
.about{
   width: 100%;
    max-width: 1920px;
    background: linear-gradient(to top, #E5E5E5, #ffffff);
    padding-bottom:  60px;
}
.container3 {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: -5%;
    text-align: center;
}

.about__h2{
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 25px;
}
.about__h3{
     text-transform: uppercase;
    font-size: 9px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.about__intro{
    display: flex;
    margin: 90px auto 0;
    
}
.about__welcome{
    width: 350px;
    text-align: center;
}
.about__welcome img{
    margin-bottom: 33px;
  
    
}
.about__text{
    font-size: 14px;
    line-height: 1.35;
    text-align: left;
    margin-bottom: 39px;
    color: #616161;
}
.about__header{
   text-transform: uppercase;
    font-size: 16px;
   display: inline-block;
    
    margin-left: 20px;
    font-weight: 300;
}
.about__another{
    display: flex;
    margin-left: 125px;
   
    width: 550px;
}
.about__another__first{
    width: 250px;
    display: block;
     margin-right: 30px;
    
}
.about__another__second{
    width: 250px;
    display: block;
}
.about__image{
    align-items: baseline;
    display: flex;
    margin-bottom: 20px;
    height: 34px;
}
/*GALERY*/
.galery__sec{
    margin: 220px auto;
}
.galery__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.galery__header{
    text-transform: uppercase;
    text-align: center;
    font-size: 24px; 
    margin-bottom: 25px;
}
.galery__h3{
    text-transform: uppercase;
    text-align: center;
    font-size: 9px;
    margin-top: 10px;
    
}
.galery__icon{
   
    display: block;
}
.galery__middle{
    display: flex;
}
.gallery__right{
    display: block;
     width: 445px ;
    height: 300px ;
    
}
.gallery__right img:last-child{
    margin-top: 23px;
}
.gallery__left{
    width: 635px ;
    height: 630px ;
    margin-right: 30px;
}